@model List<scert_upMVC.Models.manage_dietlist>
@{
    ViewBag.Title = "diets";
}

<section class="inner-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12">
                <h1 class="inn-title">DIETs</h1>
            </div>
        </div>
    </div>
</section>
<div class="clearfix"></div>

<section id="main-content" class="main-content innerpage">
    <div class="container" id="content">
        <div class="bar-camp">
            <div class="breed-crum-div">
                <ol class="breadcrumb">
                    <li><a href="index.html" class="none external">Home</a></li>
                    <li>Unit</li>
                    <li class="active">DIETs</li>
                </ol>
            </div>
        </div>
        <table class="table table-bordered table-striped">
            <tbody>
                <tr>
                    <th>S.No</th>
                    <th>Name of the DIET</th>
                    <th>Full Postal Address</th>
                    <th>Name of Incharge</th>
                    <th>Designation</th>
                    <th>Contact No.</th>
                    <th>Email Address</th>
                </tr>
                @{
                    var count = 1;
                }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@count</td>
                        <td>@item.Diet_Name</td>
                        <td>@item.Address</td>
                        <td>@item.InchargeName</td>
                        <td>@item.Designation</td>
                        <td>@item.Contact</td>
                        <td><a href="mailto:'+@item.Email+'">@item.Email</a></td>
                    </tr>
                    count++;
                }
            </tbody>
            </table>
    </div>
</section>

