@model List<scert_upMVC.Models.manage_ebook>
@{
    ViewBag.Title = "EBook";
}

<section class="inner-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12">
                <h1 class="inn-title">@ViewBag.book</h1>
            </div>
        </div>
    </div>
</section>

<div class="clearfix"></div>

<section id="main-content" class="main-content innerpage">
    <div class="container" id="content">
        <div class="bar-camp">
            <div class="breed-crum-div">
                <ol class="breadcrumb">
                    <li><a href="index.html" class="none external">Home</a></li>
                    <li>Educational Materials </li>
                    <li class="active">@ViewBag.book</li>
                </ol>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <tr>
                    <th width="2%">S.NO.</th>
                    <th width="80%">Subject</th>
                    <th width="18%" align="center">View</th>
                </tr>
                @{
                    var count = 1;
                }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@count</td>
                        <td>@item.Subject</td>
                        <td><a href="@item.File_Path" target="_blank" class="btn btn-primary btn-xs">View</a></td>
                    </tr>
                    count++;
                }
            </table>
        </div>
        <!-- InstanceEndEditable -->
    </div>
</section>


